// bower:scss
// endbower

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
    margin:0;
    padding:0;
    border:0;
    // background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    font: 13px Helvetica, arial, freesans, clean, sans-serif;
}

a {
    color: #4183c4;
}

.wrapper {

}

// ===============================

.head  {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    border-bottom: 1px solid rgb(229, 229, 229);
    // background-color: transparent;
    background-image: url(/images/navBG.png);
    background-repeat: repeat-x;
    margin-bottom: 20px;
    .headContainer {
        position: relative;
        margin: 0 auto;
        width: 980px;
        height: 41px;
        top:0;
        left:0;
        right:0;
        .logoIcon {
            display: inline;
            float:left;
            width:  40px;
            height: 40px;
            border-right: 1px solid rgb(229, 229, 229);
            background-color: transparent;
        }
        .notifications {
            display: inline;
            float: left;
            width:  40px;
            height: 40px;
            border-right: 1px solid rgb(229, 229, 229);
            background-color: transparent;            
        }
        .nav {
            display: inline;
            float: left;
            height: 40px;
            width: 898px;
            background-color: transparent;
            .searchBar {
                float:left;
                width: 218px;
                height: 26px;
                border: 1px solid rgb(229, 229, 229);
                margin: 7px 15px 0px 15px;
                border-radius: 5px;
                background-color: #fcfcfc;
            }         
            ul.navLeft li {
                float: left;
                padding-right: 10px;
                margin: -4px 0 0px 0;
                list-style-type: none;
            }
            ul.navRight li {
                float: right;
                margin: -10px 0 0px 0;
                list-style-type: none;
            }
        }
    }
}

.container  {
    clear: both;
    position: relative;
    margin: 0 auto;
    width: 980px;
    height:1040px;
    background-color: transparent;
    .sidebar {
        float:left;
        margin: 0;
        background-color: transparent;
        width: 230px;
        height: 507px;
        border-bottom: 1px solid rgb(229, 229, 229);        
        .profileImage img{
            position: relative;
            display: block;
            top: 0;
            width: 230px;
            height: 230px;
            border-radius: 10px;
            background-color: transparent;
            background-size: contain;
            }
        .belowImage {
            position: absolute;
            height: 80px;
            width: 230px;
            background-color: transparent;
            top: 230px;
            .identity {
                top: 0px;
                height: 70px;
                .fullName {
                    position: relative;
                    margin-top: 10px;
                }
                .userName {
                    position: absolute;
                    font-size: 20px;
                    top: 20px;
                }
            }
            .details {
                top: 0px;
                padding-bottom: 4px;
                border-top: 1px solid rgb(229, 229, 229);
                border-bottom: 1px solid rgb(229, 229, 229);
                .detailsList { 
                    font-size: 14px;
                    list-style-type: none;
                    margin-left: -40px;
                    .li1 {
                        background: url(/images/li1.png) no-repeat transparent;
                        margin-bottom: 7px;
                        padding: 0px 0px 1px 24px;
                        vertical-align: middle;
                    }
                    .li2 {
                        background: url(/images/li2.png) no-repeat transparent;
                        margin-bottom: 7px;
                        padding: 0px 0px 1px 24px;
                        vertical-align: middle;
                    }
                    .li3 {
                        background: url(/images/li3.png) no-repeat transparent;
                        margin-bottom: 7px;
                        padding: 0px 0px 1px 24px;
                        vertical-align: middle;
                    }
                    .li4 {
                        background: url(/images/li4.png) no-repeat transparent;
                        margin-bottom: 7px;
                        padding: 0px 0px 1px 24px;
                        vertical-align: middle;
                    }
                }
            }
            .users {
                text-align: center;
                padding-top: 13px;
                .stat {
                    float: left;
                    width: 33.333%;
                    font-size: 11px;
                    .stat-count {
                        font-size: 28px;
                    }
                }
            }
        }
    }
    


    .main {
        float: right;
        background-color: transparent;
        width: 730px;
        height: 1040px;
        .tabs {
            height: 26px;
            margin: 0 0 15px;
            border-bottom: 1px solid #ddd;
            padding-top: 9px;
            .tabul {
                // float: left;
                list-style-type: none;
                font-size: 14px;
                line-height: 20px;
                padding-left: 0px;
                margin: 0px;
                & li {
                    // padding-left: 20px;
                    // padding: 8px 12px 7px 20px;
                    height: 35px;
                    display: inline;
                }
                & a {
                    text-decoration: none;
                    color: #666;
                }
                .tabli1 {
                    background: url(/images/contributionsTab.png) no-repeat transparent;
                    background-position: 13px 60%;
                    // border-bottom: 1px solid rgb(229, 229, 229);
                    // border-radius: 0px 0px 3px 0px;
                    padding: 12px 13px 7px 31px;
                    // border-radius: 3px;
                }
                .tabli2 {
                    background: url(/images/repositoriesTab.png) no-repeat transparent;         
                    background-position: 12px 58%;
                    border-left: 1px solid rgb(229, 229, 229);
                    border-top: 1px solid rgb(229, 229, 229);
                    border-right: 1px solid rgb(229, 229, 229);
                    border-bottom: 1px solid white;
                    border-radius: 3px 3px 0 0;
                    padding: 10px 8px 8px 28px;
                    & a {
                        color: black;
                    }
                }
                .tabli3 {
                    background: url(/images/activityTab.png) no-repeat transparent;
                    background-position: 17px 58%;
                    // border-bottom: 1px solid rgb(229, 229, 229);
                    // border-radius: 0px 0px 0px 3px;
                    padding: 11px 12px 7px 33px;
                }
            }
        }
        .filter {
            // height:40px;
            position: relative;
            .filterBox {
                box-sizing: border-box;
                float:left;
                width: 260px;
                height: 32px;
                border: 1px solid #ddd;
                padding: 7px 8px;
                margin: 0px 0px 10px 0px;
                border-radius: 3px;
                background-color: white;
            }         
            .button {
                width: 69px;
                height: 40px;
                margin-left: 4px;
            }
        }
        .reposContainer {
            padding-top: 10px;
            .repos {
                clear: both;
                position: relative;

                .reposLeft {
                    float:left;
                    top: 0px;
                    background-image: url(/images/reposIcon1.png);
                    background-repeat: no-repeat;
                    background-position: 0px 0px;
                    width: 46px;
                    height: 33px;
                    background-color: pink;
                }
                .reposTitle {
                    float:left;

                    background-color: red;
                    .reposName {
                        font-size: 20px;
                        line-height: 32px;
                        margin-top: 0px;
                        margin-bottom: 0px;
                    }
                }
                .reposRight{
                    float:right;
                    background-color: blue;
                }
            }
        }
    }
}

.foot {
    position: relative;
    margin: 60px auto 0 auto;
    width: 980px;
    height: 100px;
    background-color: white;
    border-top: 1px solid rgb(229, 229, 229);
}